# Server Config
NODE_ENV=development
PORT=5000

# Frontend Config # TODO: Verify it
FRONTEND_BASE_URL=http://localhost:3000

# Auth Config
JWT_SECRET=1e0b7fdbf3b44e5c8bcb6b7d65b61a8fd3b4a4e9f7f0d3b3c6b28fa4c8d0c7e9c0a4c1f9a8d7b6c5e4f3a2b1d0c9e8f7a6b5c4d3e2f1a0b9c8d7e6f
JWT_EXPIRE=180m # TODO: revoke to 30m
JWT_COOKIE_EXPIRE=180m # TODO: revoke to 45m

# File Config
FILE_STORAGE_PATH=./storage
FILE_STORAGE_PUBLIC_PATH=/storage/public
FILE_STORAGE_PUBLIC_ASSETS_PATH=/storage/public/assets

# PG DB Config
PG_DB_HOST=localhost
PG_DB_PORT=5432
PG_DB_NAME=episteme
PG_DB_USER=postgres
PG_DB_PASSWORD=root
PG_DB_SCHEMA=EPISTEME
PG_DB_SSL=false
PG_DB_LOGGING=true

# Topics API Config
TOPICS_URL=https://api.openalex.org/concepts

# Countries API Config
COUNTRIES_URL=https://gist.githubusercontent.com/kalinchernev/486393efcca01623b18d/raw/countries


# Email Config
MAILJET_API_KEY_PUBLIC=1929a3adb79de7af0c47ca172300b66d
MAILJET_API_KEY_PRIVATE=3adb6d97475e496aff8ab0e9d960c474
# TODO: Add proper addresses
MAIL_FROM_ADDRESS=tahsinanwar42@gmail.com
MAIL_SUPPORT_ADDRESS=support@episteme.org
MAIL_FROM_NAME=Episteme

# MSG Queue Config
KAFKA_ENABLED=false
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=episteme-backend

# Cache Config
REDIS_ENABLED=false
REDIS_URL=redis://localhost:6379
